@import './Navbar.css';

body{
  font-family: 'Oxygen', Sans-Serif;
  font-size: 16px;
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.active{
  text-decoration: underline;
}
.all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5%;
  margin-top: 15%;
}
.individual-product{
  flex: 1;
  text-align: center;
  margin: 2%;
}

.individual-product>h4{
  font-family: 'Oxygen', Sans-Serif;
  font-size: 16px;
}

.individual-product>h3{
  font-family: 'Oxygen', Sans-Serif;
  font-size: 12px;
}

.individual-product>p{
  font-family: 'Noto Serif', Serif;
  font-size: 12px;
  line-height: .5em;
}

/* page numbers */
.page-numbers>ul{
  display: flex;
  justify-content: center;
}
.page-numbers>ul>li{
    margin: 1%;
    text-decoration: none;
}

.total-pages{
  text-align: center;
  margin-bottom: 2%;
}

@media only screen and (max-device-width : 768px) {
  .all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30%;
}
}
